<!-- <p id="notice"><%= notice %></p> -->

<h3>Bugs Description</h3>



			<div class="container">
				<div class="row">
					<div class="col-4 border">
						<br/>
						<p><u>Bugs Title:</u><br/><%= @bugs.bug_title %><p>
							<br/>
						<p><u>Status:</u>
							<br/><%= @bugs.status? ? "Closed" : "Open" %><p>
					</div>

					<div class="col-4 border">
						<br/>
						<p><u>Issue Log:</u><br/><%= @bugs.issue_log %><p>
					</div>

					<div class="col-4 border">
						<br/>
						<p><u>Due Date:</u><br/><%= @bugs.due_date %><p>
						<p><u>Priority:</u><br/><%= @bugs.priority %><p>
						<p><u>Severity:</u><br/><%= @bugs.severity %><p>
					</div>

			</div>
		</div>
<br/>
<div class="container">

			<div class="row">

					<p><u>Issue Resolved:</u>
						<br/>
						<%= @bugs.issue_resolved %><p>
				</div>
<%= link_to 'Edit', edit_bug_path %>
</div>


				</div>

<br>